@model IEnumerable<FinalTask.Models.CompToday>
@{
    ViewBag.Title = "TodCompl";
}

<h2>Today's Task Completed</h2>

<table style="border: 2px solid Purple">
    <tr>
        <th style="border: 2px solid White">Employee</th>
        <th style="border: 2px solid White">Task</th>

    </tr>

    @foreach (var task in Model)
    {
        <tr style="border: 2px solid White">
            <td style="border: 2px solid White">@task.Employee.UserName</td>
            <td style="border: 2px solid White">@task.Task.DutyName</td>
        </tr>

    }
</table>